<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="bOS" type="bOS.Commons.Configuration.BasicConfiguration, bOS.Commons"/>
  </configSections>
  
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <bOS>
    <Folders>
      <add name="ArchiveXFolder" folderType="FOLDER" path="UploadFilesFolder/archivexFile"/>
      <add name="Cache" folderType="FOLDER" path="UploadFilesFolder//Cache"/>
    </Folders>
    <Emails>
      <!--add name="support" type="email" server="mail.richiestaassistenza.it" port="110" username="support@richiestaassistenza.it" password="support" nrmail="5"/-->
      <add name="smtp" type="email" server="smtp.richiestaassistenza.it" port="0" username="support@richiestaassistenza.it" password="support" nrmail="5"/>
    </Emails>
    <Links>
      <!-- add type="DICOM" name="DICOM_IGE" url="https://pagamentisanitari.mydocument.it/WSRM_IGE/SERVICES/Agende.svc" id="430" user="ante" password="posto"/ -->
    </Links>
  </bOS>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <bufferSize value="1" />
      <param name="File" value="UploadFilesFolder/Logs/bOS.Services.CDN.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{MM-dd@HH:mm:ss} %-5p [%c:%L] - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
