<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bOS" type="bOS.Commons.Configuration.BasicConfiguration, bOS.Commons" />
  </configSections>
  <bOS>
    <Folders>
      <add name="Templates" folderType="FOLDER" path="UploadFilesFolder/Templates" />
      <add name="EmailSMS" folderType="FOLDER" path="UploadFilesFolder" />
      <add name="RegistrazioneUtenti" folderType="FOLDER" path="UploadFilesFolder//RegistrazioneUtenti" />
      <add name="DocToSend" folderType="FOLDER" path="UploadFilesFolder//File" />
      <add name="InternalStoreFolder" folderType="FOLDER" path="UploadFilesFolder" />
      <add name="Lucene" folderType="FOLDER" path="UploadFilesFolder//Lucene" />
      <add name="Metrics" folderType="FOLDER" path="UploadFilesFolder//Metrics" />
      <add name="Forms" folderType="FOLDER" path="UploadFilesFolder//Forms" />
    </Folders>
    <Emails>
      <add name="support" type="pop3" server="mail.richiestaassistenza.it" port="110" username="support@richiestaassistenza.it" password="support" nrmail="5" />
      <add name="smtp" type="smtp" server="smtp.richiestaassistenza.it" port="0" username="support@richiestaassistenza.it" password="support" nrmail="5" />
    </Emails>
    <Links>
      <add name="GoogleSurvey" url="https://docs.google.com/forms/d/1mxz5pBP3C47tPlzYvu-o0nXSxoRX0QTXMnVtfw55WjY/viewform?entry.34114204=" />
    </Links>
  </bOS>
</configuration>